html
  head
  title= username + ': Social Lookup'
  body
    - if (reddit.length)
      h3= 'username: ' + 'Reddit'
      - for ( post in reddit )
        ul= 'Author: ' + reddit[post].author
        - if ( reddit[post].title )
          ul= 'Title: ' + reddit[post].title
        ul= 'Body: ' + reddit[post].body
        ul= 'Subreddit: ' + reddit[post].subreddit
        ul= 'Date: ' + reddit[post].date
        - if ( post + 1 !== reddit.length )
          hr
    - if ( twitter.length )
      h3= 'username: ' + 'Twitter'
      - for ( post in twitter )
        ul= twitter[post]
