html
  head
  title= username + ': Social Lookup'
  body
    h3= 'Posts for: ' + username
    - if ( reddit && reddit.length )
      - for ( post in reddit )
        ul= 'Author: ' + reddit[post].author
        - if ( reddit[post].title )
          ul= 'Title: ' + reddit[post].title
        ul= 'Body: ' + reddit[post].body
        ul= 'Subreddit: ' + reddit[post].subreddit
        ul= 'Date: ' + reddit[post].date
        - if ( post + 1 !== reddit.length )
          hr
    - if ( twitter && twitter.length )
      - for ( post in twitter )
        ul= "Text: " + twitter[post].text + ' (' + twitter[post].favorite_count + ' favorites, ' + twitter[post].retweet_count + ' retweets)'
        - if ( twitter[post].in_reply_to_screen_name )
          ul= 'In reply to: @' + twitter[post].in_reply_to_screen_name
        - if ( twitter[post].retweeted )
          ul= 'Retweeted from: ' + twitter[post].retweeted_status
        ul= 'Date: ' + twitter[post].created_at
        - if ( post + 1 !== twitter.length )
          hr
